samples/mulesoft/sample_flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
      xmlns:batch="http://www.mulesoft.org/schema/mule/batch">

  <http:listener-config name="HTTP_Listener_config" host="0.0.0.0" port="8081"/>
  <db:generic-config name="DB_Config" url="${db.url}"/>

  <flow name="customer-api-flow">
    <http:listener config-ref="HTTP_Listener_config" path="/api/customers/{id}" method="GET"/>
    <db:select config-ref="DB_Config">
      <db:sql>SELECT * FROM CUSTOMERS WHERE ID = :id</db:sql>
    </db:select>
    <dw:transform-message>
      <dw:set-payload><![CDATA[%dw 1.0 output application/json --- payload map { id: $.CUSTOMER_ID, name: $.CUSTOMER_NAME }]]></dw:set-payload>
    </dw:transform-message>
    <http:request config-ref="SAP_Config" method="POST" path="/sap/customer"/>
    <logger message="Customer sync completed: #[payload.id]"/>
    <error-handler>
      <on-error-propagate type="ANY">
        <set-payload value='{"error": "Customer API failed"}'/>
      </on-error-propagate>
    </error-handler>
  </flow>

  <flow name="invoice-batch-sync">
    <scheduler>
      <scheduling-strategy><fixed-cron expression="0 0 2 * * ?"/></scheduling-strategy>
    </scheduler>
    <batch:job>
      <batch:input>
        <db:select config-ref="DB_Config"><db:sql>SELECT * FROM INVOICES WHERE STATUS='PENDING'</db:sql></db:select>
      </batch:input>
      <batch:process-records>
        <dw:transform-message>
          <dw:set-payload><![CDATA[%dw 1.0 output application/json --- { invoiceNumber: payload.INV_NUM, amount: payload.AMOUNT as :number }]]></dw:set-payload>
        </dw:transform-message>
        <http:request config-ref="SAP_FI_Config" method="POST" path="/sap/api/invoices"/>
      </batch:process-records>
    </batch:job>
    <error-handler>
      <on-error-continue type="ANY">
        <logger message="Batch error: #[error.description]"/>
      </on-error-continue>
    </error-handler>
  </flow>

  <flow name="sftp-file-processor">
    <file:inbound-endpoint path="/inbound/sftp" connector-ref="SFTP_Connector" pollingFrequency="10000"/>
    <dw:transform-message>
      <dw:set-payload><![CDATA[%dw 1.0 output application/xml --- { Record: payload }]]></dw:set-payload>
    </dw:transform-message>
    <http:request config-ref="ERP_Config" method="POST" path="/edi/inbound"/>
    <file:outbound-endpoint path="/processed/sftp"/>
  </flow>

</mule>
